version: '3.8'

services:
  smart-money-app:
    image: smart-money-backend:latest
    ports:
      - "8081:8081"
    environment:
      # 1. Force MySQL Dialect (Crucial Fix)
      - SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.MySQLDialect
      - SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.MySQLDialect

      - BREVO_FROM_EMAIL=authn.sapuarachchi@gmil.com

      # 2. Existing Config
      - BREVO_HOST=smtp-relay.brevo.com
      - BREVO_PORT=587
      - BREVO_USER=93380d005@smtp-brevo.com
      - BREVO_PASSWORD=Rq34ZHVvG2KjQa56

      - DB_URL=jdbc:mysql://mysqldb:3306/moneymanage_app?allowPublicKeyRetrieval=true&useSSL=false
      - DB_USERNAME=root
      - DB_PASSWORD=root

      - JWT_SECRET=YXV0aG5tb25leW1hbmFnZWFwcGF1dGhubW9uZXltYW5hZ2VhcHBzZWNyZXRrZXlmb3JzZWN1cml0eQ==

      - SPRING_DATASOURCE_URL=jdbc:mysql://mysqldb:3306/moneymanage_app?allowPublicKeyRetrieval=true&useSSL=false
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root

      #  ADD THESE URL VARIABLES
      - MONEY_MANAGER_BACKEND_URL=http://localhost:8081/api/v1.0
      - MONEY_MANAGER_FRONTEND_URL=http://localhost:5173

      # (Make sure BREVO_FROM_EMAIL is still here too!)
      - BREVO_FROM_EMAIL=authn.sapuarachchi@gmil.com

    depends_on:
      - mysqldb
    networks:
      - money-net

  mysqldb:
    image: mysql:8.0
    ports:
      - "3308:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=moneymanage_app
    networks:
      - money-net
    volumes:
      - mysql_data:/var/lib/mysql

networks:
  money-net:

volumes:
  mysql_data: